<h1>All Questions</h1>

<div class="row">
   
   <div class="col-md-10">
      <p>Question</p>
   </div>
   <div class="col-md-2">
      <p>Resolved?</p>
   </div>
   
   <% @questions.each do |q| %>
   <div class="col-md-10">
      <%= link_to q.title, q %>
   </div>
   <div class="col-md-2">
      <%= q.resolved ? "Yes" : "No" %>
   </div>
   <% end %>
   
</div>
